<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RSSNewsReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <RSSNewsReader.Properties.Settings>
            <setting name="SelectedFeedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ViewDeletedItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImportedPreviousVersionFeeds" serializeAs="String">
                <value>2001-01-01</value>
            </setting>
            <setting name="LastVersionRun" serializeAs="String">
                <value/>
            </setting>
            <setting name="UpdateCheck" serializeAs="String">
                <value/>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
        </RSSNewsReader.Properties.Settings>
    </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
